.brick 
{
  box-shadow: 4px 8px 2px rgba(0, 0, 0, 0.9);
  border-radius: 2px;
  position: absolute;
  z-index: 97;
}

.invisible
{
  display: none;
}

.blue
{
  background-color: #667292;
}

.yellow
{
  background-color: #daebe8;
}

.red 
{
  background-color: #8d9db6;
}

.green 
{
  background-color: #bccad6;
}

.border 
{
  background-color: transparent;
  border: 1px solid #667292;
  border-bottom-width: 2px;
  border-radius: 4px;
}
